@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  background: #8e2de2;
  background: linear-gradient(to bottom, #8e2de2, #4a00e0);
  display: flex;
  flex-direction: column;
}

h1 {
  margin-block: 1.5rem;
  text-align: center;
  color: #fff;
}

button {
  background: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
}

button:hover {
  background: #8e2de2;
}

button svg {
  fill: currentColor;
  width: 24px;
  height: 24px;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  appearance: none;
}

main {
  background-color: #fff;
  width: min(400px, 90%);
  margin-inline: auto;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
}

main > button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 500;
}

section {
  background: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

section button span {
  display: none;
}

section span {
  flex-grow: 1;
  font-size: 1.35rem;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

ul {
  list-style-type: none;
  margin: 1rem 0;
}

ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  font-size: 1.15rem;
}

input[type="number"] {
  width: 3.25rem;
  height: 1.75rem;
  border-radius: 1.75rem;
  border: 1px solid #ddd;
  text-align: center;
  outline: none;
  overflow: hidden;
}

input[type="checkbox"] {
  appearance: none;
  width: 3.25rem;
  height: 1.75rem;
  border-radius: 1.75rem;
  background: #323232;
  cursor: pointer;
  position: relative;
}

input[type="checkbox"]::after {
  content: "";
  background-color: #fff;
  position: absolute;
  left: 0;
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 100%;
  transform: scale(0.75);
  transition: all 150ms;
}

input[type="checkbox"]:checked::after {
  left: calc(100% - 1.75rem);
}

input[type="checkbox"]:checked {
  background-color: #ff1e56;
}

input[type="checkbox"]:checked:disabled {
  background-color: #ff6c91;
}
